* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font-size: 22px;
}

.container {
    width: 1000px;
    margin: 100px auto;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 0;
    padding-left:  58px;
    padding-right:  58px;
}

.school-devise {
    font-family: 'Times New Roman', Times, serif;
    color: #595959;
    font-weight: bold;
    font-size: 30px;
    display: block;
}

.school-name {
    font-family: 'Times New Roman', Times, serif;
    color: #00aaaf;
    font-weight: bold;
    font-size: 17px;
    display: block;
}

.left-content {
    position: relative;
    width: 37%;
    left: -14px;
    top: -20px;
}

.left-content .logo {
    margin: 0;
    position: relative;
    left: 0;
}

.left-content .logo-text {
    position: absolute;
    right: 10px;
    bottom: 24px;
}

.banner {
    overflow: hidden;
    background-color: #007b80;
}

.banner .descriptif-text {
    height: 50px;
    padding: 7px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.main-container h1 {
    color: #007b80;
}

.main-container .fname {
    font-weight: bold;
}

.main-container .button {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 30%;
    background-color: #007b80;
    height: 55px;
    font-size: 22px;
    color: #fff;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 45px;
    padding: 15px;
}

.main-container .link-text, .main-container .link {
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #000;
    font-style: italic;
    overflow-wrap: break-word;
}

.footer {
    background-color: #007b80;
    height: 70px;
    margin-top: 80px;
    margin-left: -58px;
    margin-right: -58px;
    padding: 10px 58px;
    position: relative;
}

.footer .socials-network {
    width: 30%;
    margin: 3px 0;
}

.socials-network i {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    width: 20%;
    padding: 4px;
    text-align: center;
}

.socials-network a {
    text-decoration: none;
}

.footer .website {
    display: block;
    position: absolute;
    right: 58px;
    bottom: 20px;
    text-decoration: none;
    color: #1ce7ee;
    font-size: 24px;
}
